---
Language:        Cpp
BasedOnStyle:  Google
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
IndentWidth:     4
SortIncludes:    false
SortUsingDeclarations: false
SpacesBeforeTrailingComments: 4

BraceWrapping:
  AfterCaseLabel:  true


